.containerWeatherData {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  font-family: 'Raleway';
  color: #555;
}

.containerIconWeatherData {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
}

.temperature {
  font-weight: 400;
  font-size: 22px;
}

.containerExtraInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 
}

.humidity {
  font-weight: 400;
  font-size: 12px;
}

.wind {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}