* {
  box-sizing: border-box;
}
.containerApp{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.loaderCentered{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}